# Ignore conda environment directories
.env/
conda-env/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore database files
*.sqlite3

# Ignore logs and cache files
*.log
.cache/

# Ignore editor/IDE specific files
.vscode/
.idea/

# Ignore compiled Python files
*.pyc
*.pyo
__pycache__/

# Ignore system and temporary files
.DS_Store
Thumbs.db
