.admin-assignment-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .assignments-list {
    width: 100%;
  }
  
  .assignments-list table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .assignments-list th, .assignments-list td {
    border: 1px solid #dddddd; /* Add border to cells */
    padding: 8px;
  }
  
  .assignments-list th {
    background-color: #f2f2f2;
  }
  
  .assignments-list tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .assignments-list tr:nth-child(odd) {
    background-color: #ffffff;
  }
  
  .create-assignment, .update-assignment, .delete-assignment {
    margin-top: 20px;
    width: calc(33.33% - 20px); /* Adjust width to fit three columns with space between */
  }
  
  .create-assignment input, .update-assignment input, .delete-assignment input {
    margin-bottom: 10px;
  }
  
  .create-assignment button, .update-assignment button, .delete-assignment button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .create-assignment button:hover, .update-assignment button:hover, .delete-assignment button:hover {
    background-color: #0056b3;
  }
  